.neckdiv {

    margin: -0.2% 0% -0.3% 0%;
    height: 18.7%;
    position: relative;
    /* border: 1px solid red; */
}

.neckbox {
    width: 6%;
    height: 45%;
    background-attachment: fixed;
}

.checknot{
    margin-left : 56%;
    top: 32.7%;
    height: 21%;
    width: 40%;
    /* border: 1px solid rgb(20, 34, 224); */
    position: fixed;
    
}

.img{
    top: 0%;
    widows: 2%;
    position: fixed;
}

.note0{
    margin-top: 0%;
    margin-left: 0%;
    /* width:2%; */
    opacity: 0;
}

.note1{
    margin-top: 0%;
    margin-left: 4%;
    width:2%;
}

.note2{
    margin-top: 0%;
    margin-left: 12%;
    width:2%;
}

.note3{
    margin-top: 0%;
    margin-left: 19%;
    width:2%;
}

.note4{
    margin-top: 0%;
    margin-left: 27%;
    width:2%;
}

.note5{
    margin-top: 0%;
    margin-left: 35%;
    width:2%;
}
.note6{
    margin-top: 0%;
    margin-left: 43%;
    width:2%;
}

.note7{
    margin-top: 0%;
    margin-left: 50%;
    width:2%;
}

.note8{
    margin-top: 0%;
    margin-left: 58%;
    width:2%;
}

.note9{
    margin-top: 0%;
    margin-left: 65%;
    width:2%;
}

.note10{
    margin-top: 0%;
    margin-left: 73%;
    width:2%;
}

.note11{
    margin-top: 0%;
    margin-left: 81%;
    width:2%;
}

.note12{
    margin-top: 0%;
    margin-left: 89%;
    width:2%;
}




